<div class="container">
    <h1>Events - Server</h1>
    <form method="get">
        <label for="typeInput">Event Type</label>
        <select id="typeInput" name="type">
            <option value="undefined">All</option>
            <option value="workshop">workshop</option>
            <option value="meetup">meetup</option>
            <option value="seminar">seminar</option>
        </select>
        <label for="statusInput">Status</label>
        <select id="statusInput" name="status">
            <option value="undefined">All</option>
            <option value="true">Open</option>
            <option value="false">Sold Out</option>
        </select>
        <button type="button" onclick="fetchEvents()">Filter</button>
    </form>

    <ul id="eventArea"></ul>

    <ul class="pagination">
        <li class="page-item">
            <button type="button" onclick="fetchEvents(0)" class="page-link" aria-label="Previous" >
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item"><button type="button" onclick="fetchEvents(1)" class="page-link">1</button></li>
        <li class="page-item"><button type="button" onclick="fetchEvents(2)" class="page-link">2</button></li>
        <li class="page-item"><button type="button" onclick="fetchEvents(3)" class="page-link">3</button></li>
        <li class="page-item">
            <button type="button" onclick="fetchEvents(4)" class="page-link"  aria-label="Next">
                <span aria-hidden="true" >&raquo;</span>
            </button>
        </li>
    </ul>
</div>

<script>
    const API_URL_EVENTS = 'http://localhost:3000/api/events';
    const typeInput = document.getElementById('typeInput');
    const statusInput = document.getElementById('statusInput');
    const eventArea = document.getElementById('eventArea');

    const showEvents = (eventArray) => {
        eventArea.innerHTML = '';
        eventArray.forEach((event) => {
            eventArea.innerHTML += `
            <li class="card">
                <h3>${event.title}</h3>
                <p>${event.type}</p>
                <p>${event.open ? 'Available' : 'Sold Out'}</p>
                <p>${event.date < 1 ? 'Already Closed!' : 'Closes in ' + event.date + ' days'}</p>
                <p>${event.description}<p>
            </li>`
        })
    }

    const fetchEvents = (buttonValue) => {
        let queryString = '/?';
        queryString += buttonValue ? `page=${buttonValue}&` : '';
        queryString += typeInput.value === 'undefined' ? 'type=undefined&' : `type=${typeInput.value}&`;
        queryString += statusInput.value === 'undefined' ? 'status=undefined&' : `status=${statusInput.value}&`;
        console.log(queryString);

        fetch(`${API_URL_EVENTS}${queryString}`)
                .then((resp) => {
                    if (resp.ok)
                    {
                        return resp.json();
                    }
                    else
                    {
                        throw new Error("Unable to retrieve data from API")
                    }
                })
                .then((dataFromApi) => {
                    showEvents(dataFromApi);
                })
                .catch((err) => console.log(err));
    }

    window.onload = () => {
        fetchEvents();
    }

</script>