<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h2 class="card-title text-secondary">Home Page</h2>
        <p class="card-text text-secondary">Jaden Mantie</p>
        <p class="card-text text-secondary">mantie7553@saskpolytech.ca</p>
    </div>
</div>